.graphPanel{
    border-style: groove;
    float: left;
    margin-top: 50px;
    width: 38%;
    height: 500px;
}
.expandedPanel{
    border-style: groove;
    float: left;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    z-index: 9000;
}
.uploadSpace
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    
}

p{
    text-align: center;
}

.utils{
    text-align: end;
    
}

button{
    background: transparent;
    border: 0;
}